.card {
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    cursor: pointer;
    background: linear-gradient(145deg, #1e2024, #23272b);
  }
  
  .card img {
    scale: 1.02;
    transition: scale 0.4s ease-in-out;
  }
  
  .card:hover img {
    scale: 1.12;
  }
  
  .btn-arrow {
    font-size: 1.4rem;
  }
  
  .splide__arrow--prev,
  .splide__arrow--next {
    width: 3.5rem;
    height: 3.5rem;
    box-shadow: 5px 5px 10px #1c1e22, -10px -10px 19px #262a2e;
  }
  
  .splide__arrow--next svg,
  .splide__arrow--prev svg {
    fill: white;
  }
  
  .splide__arrow--next {
    right: -25px;
  }
  
  .splide__arrow--prev {
    left: -25px;
  }
  
  .splide__pagination__page {
    background-color: rgb(81, 79, 79) !important;
  }
  
  .splide__pagination__page.is-active {
    background: #f9004d !important;
  }
  