
/* css for App.jsx */
body{
  background-color: #212428;
}
.section-separator{
  padding: 100px 0;
}
.contact-subtitle{
  color: red;
  letter-spacing: 1px;
  display: block;
  line-height: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
.contact-title{
  font-weight: 700;
  line-height: 1.2;
  color: #c4cfde;
  margin-top: 15px;
}